<h2>Proof of Concept: Lifecycle Hooks in Angular</h2>
<div class="container">
  <input type="text" #color>
  <button (click)="onUserSubmit(color)">Submit</button>
  <app-child-component [color]="colorText" [product]="product" *ngIf="!isDestroyed">
    <h4 #childContent>This is a test for ngAfterContentInit!</h4>
    <h4 #secondChild>And here it is for ngAfterContentChecked: {{colorText}}</h4>
  </app-child-component>
  <br><br>
  <button (click)="destroy()">Destroy Component</button>
</div>
<div class="simpleForm">
  <h3>Products</h3>
  <p>Product name: <input type="text" [(ngModel)]="name"></p>
  <p>Product name: <input type="text" [(ngModel)]="price"></p>
  <button (click)="updateProduct()">Update product</button>
</div>
